<h2>Flashcards</h2>

<ul>
  <% @flashcards.each do |flashcard| %>
  <li>
    <%= flashcard.front %>
    <%= flashcard.back %>
    <%#= link_to 'Show', user_language_flashcard_path(flashcard) %>
  </li>
  <% end %>
</ul>

<%#= link_to 'New flashcard', new_user_language_flashcard_path(@flashcard) %>
