@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: image-url("background.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  position: absolute;
  top: 20%;

  background-color: white;
}

.home {
  position: absolute;
  top: 50%;
  left: 50%;

  color: white;
}

.title, .subtitle {
  text-shadow: 3px 3px black;
}

.title {
  font-size: 7em;
}

.subtitle {
  font-size: 3em;
}

#check_answer {
  color: red;
}

#correct {
  color: green;
}

#list {
  display: none;
}
